<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose</title>
  </head>
  <body>
    <fieldset>
      <legend>Register</legend>
      <form action="/users" method='post'>
        <div>
          <label for="">Name:</label>
          <input type="text" name='name' required>
        </div>
        <div>
          <label for="">Age:</label>
          <input type="text" name='age' required>
        </div>
        <button>Submit</button>
      </form>
    </fieldset>
    <ul>
      <% for(const user of users){ %>
        <li>Name:<%= user.name %> Age: <%= user.age %></li>
      <% } %>
    </ul>
  </body>
</html>
