<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
  </head>
  <body>
    <h1>Counter</h1>
    <h2><%= count %> Times</h2>
    <form action="/plusTwo" method="post">
      <input type="submit" value="+2">
    </form>
    <form action="/reset" method="post">
      <input type="submit" value="Reset Counter">
    </form>
  </body>
</html>
