h1{
    display: inline-block;
    width: 82%;
}
#links{
    float: right;
    vertical-align: middle;
    line-height: 2.4em;
}
#links a, #links div{
    display: inline-block;
}
#links div{
    border-left: 3px solid black;
    width: 1px;
    height: 2em;
    vertical-align: middle;
}
#links a{
    margin: 0 10px;
}