<div id='container'>
  <p>MainComponent</p>
  <div id='paragraph'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius odio vitae metus blandit ultrices. Ut venenatis justo
    id libero tristique, ut varius nulla facilisis. Quisque dapibus erat in augue tincidunt, ac hendrerit dolor viverra. Suspendisse
    imperdiet felis turpis. Aenean vitae dignissim leo. Etiam vitae ante eu orci vestibulum ultricies nec commodo diam. Maecenas
    quis suscipit tellus, eu vehicula sem. Aenean nec enim metus. Etiam dapibus finibus est ac scelerisque. Duis porttitor
    enim non felis venenatis varius. Curabitur rhoncus varius justo, quis finibus urna suscipit quis. Orci varius natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Quisque bibendum facilisis nibh. Morbi accumsan eget nulla ut
    pulvinar.</p><br>
    <p>Morbi eleifend lorem sed mollis eleifend. Nullam risus ex, tempor sit amet venenatis eu, gravida sed dui. Morbi
    ac magna a lectus ullamcorper euismod. Fusce ut quam eget nulla euismod sodales quis nec elit. Integer lacinia, eros fermentum
    fringilla suscipit, mauris eros ornare augue, non luctus ipsum ligula at risus. Donec ut eros urna. Vestibulum mattis venenatis
    mauris vel imperdiet.</p>
  </div>
</div>
