span{
    display: block;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}
#stats{
    display: inline-block;
    width: 50%;
    padding: 5%;
}
img{
    display: inline-block;
    width: 39%;
    vertical-align: top;
}