fieldset{
    display: inline-block;
    width: 42.5%;
    margin: 2%;
    vertical-align: top;
}
.img-container{
    height: 300px;
}
img{
    width: 100%;
}
a{
    display: block;
}
button{
    width: 100%;
}