<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h1>Results</h1>
    <% for (const i of users) { %>
      <p>Name: <%= i.name %> </p>
      <p>Email: <%= i.email %></p>
    <% } %>
  </body>
</html>
