<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1><%= error %></h1>
    <form action="/"><button>Go Back</button></form>
  </body>
</html>
